<div class="grid" style="color: #686868">
  <div class="col-12">

    <!-- Search -->
    <div class="col-12 mt-5" align="center">
      <b>หาไม่เจอหรอ... ลองพิมพ์ตรงนี้ดูสิ...</b>
      <div class="grid justify-content-center">
        <div class="col-12 md:col-6">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="ค้นหา..." name="input_search_form" [(ngModel)]="input_search"
              #input_search_form="ngModel" (input)="onSearch()" />
          </span>
        </div>
      </div>
    </div>

    <!-- Menu -->
    <ng-container *ngIf="menu_items_filter.length > 0">
      <div class="col-12 mt-5" align="center" *ngFor="let item of menu_items_filter">
        <h1>{{ item.label }}</h1>
        <div class="grid justify-content-center">
          <div class="col-12 md:col-4 lg:col-3 box" *ngFor="let subitem of item.items"
            [routerLink]="subitem.routerLink">
            <div class="box-inside flex align-items-center justify-content-center">
              <label>{{ subitem.label }}</label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="menu_items_filter.length == 0 && input_search != ''">
      <div class="col-12 mt-5" align="center" *ngIf="input_search != 'ป่าน'">
        <h1>เสียใจด้วยย!... แต่เราหาสิ่งที่คุณอยากได้ไม่พบจริง ๆ</h1>
      </div>
      <div class="col-12 mt-5" align="center" *ngIf="input_search == 'ป่าน'">
        <h1>คนน่ารัก...</h1>
      </div>
    </ng-container>


    <!-- API Server Status Check -->
    <div class="col-12 mt-3">
      <div align="center">
        <label style="font-size: 12pt;">สถานะเซิร์ฟเวอร์ API</label>
        <i class="pi pi-circle-fill ml-2" style="font-size: 14px;color: #00b64c"></i>
        <p style="font-size: 9pt;"><b>API:</b> https://projects.kmutnb.wutthiphon.space/Numerical/api</p>
      </div>
    </div>

  </div>
</div>
