<div class="grid">
  <div class="col-12">

    <!-- Search -->
    <div class="col-12" align="center" style="margin: 50px 0px;">
      <b>หาไม่เจอหรอ... ลองพิมพ์ตรงนี้ดูสิ...</b>
      <div class="grid justify-content-center">
        <div class="col-12 md:col-6">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="ค้นหา..." name="input_search_form" [(ngModel)]="input_search"
              #input_search_form="ngModel" (input)="onSearch()" />
          </span>
        </div>
      </div>
    </div>

    <!-- Menu -->
    <ng-container *ngIf="menu_items_filter.length > 0">
      <div class="col-12" align="center" *ngFor="let item of menu_items_filter">
        <h1>{{ item.label }}</h1>
        <div class="grid justify-content-center">
          <div class="col-12 md:col-4 lg:col-3 box" *ngFor="let subitem of item.items">
            <div class="box-inside flex align-items-center justify-content-center" [routerLink]="subitem.routerLink">
              <label>{{ subitem.label }}</label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="menu_items_filter.length == 0 && input_search != ''">
      <div class="col-12 mt-5" align="center">
        <h1>เสียใจด้วยย!... แต่เราหาสิ่งที่คุณต้องการไม่พบจริง ๆ T_T</h1>
      </div>
    </ng-container>
  </div>
</div>
