<div class="grid">
  <div class="col-12 md:col-5">
    <p-card header="การใส่ค่า และ สูตร" styleClass="h-full">
      <div class="grid">
        <!-- <div class="col-12">
          <b>X:</b>
          <p-inputNumber [(ngModel)]="calc_form.input" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
            styleClass="w-full">
          </p-inputNumber>
        </div> -->
        <div class="col-12">
          <b>Debug Mode: </b>
          <p-inputSwitch [(ngModel)]="debug_mode" binary="true" onLabel="เปิด" offLabel="ปิด"></p-inputSwitch>
        </div>
        <div class="col-12">
          <input type="text" pInputText [(ngModel)]="calc_form.formula" placeholder="สูตร..." />
        </div>
        <div class="col-12" *ngIf="debug_mode">
          <b>อ่านสูตรได้: </b>

        </div>
        <div class="col-12" align="right">
          <button pButton type="button" label="คำนวณ" icon="pi pi-calculator" (click)="calculate()"
            class="p-button-rounded p-button-sm"></button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-7">
    <p-card header="คำตอบ" styleClass="h-full">
      <div class="grid">
        <div class="col-12">
          Test
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-12">
    <p-card header="กราฟ" styleClass="h-full">
      <div class="grid">
        <div class="col-12">
          Test
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-dialog header="กำลังประมวลผล..." [(visible)]="isLoad_calc" [modal]="true"
  [style]="{ 'min-width': '360.5px',width: '30%' }" [draggable]="false" [resizable]="false" [closable]="false">
  <div class="grid">
    <div class="col-12 mt-2" align="center">
      <p-progressSpinner [style]="{ 'width': '75px', 'height': '75px' }" strokeWidth="6"
        fill="#EEEEEE"></p-progressSpinner>

    </div>
  </div>
</p-dialog>
