<div class="grid">
  <div class="col-12" align="center">
    <h1>GAUSS JORDAN</h1>
    <p-divider></p-divider>
  </div>

  <div class="col-12 md:col-12">
    <p-card header="สมการและการแทนค่า">
      <div class="grid">
        <div class="col-12 flex align-content-center mb-4">
          <p-inputSwitch [(ngModel)]="debug_mode" binary="true" onLabel="เปิด" offLabel="ปิด"></p-inputSwitch>
          <b class="ml-2 mt-1">Debug Mode</b>
        </div>

        <div class="col-12 md:col-3">
          แถว
          <input type="text" pInputText [(ngModel)]="calc_form.input_length.rows" placeholder="rows..."
            name="f_input_rows" #f_input_rows="ngModel" class="mt-1 mb-1 w-full" (input)="updateInputSize()" />
        </div>
        <div class="col-12 md:col-3">
          คอลัมน์
          <input type="text" pInputText [(ngModel)]="calc_form.input_length.cols" placeholder="cols..."
            name="f_input_cols" #f_input_cols="ngModel" class="mt-1 mb-1 w-full" (input)="updateInputSize()" />
        </div>

        <div class="col-12" *ngIf="calc_form.input_length.rows && calc_form.input_length.cols">
          <div class="grid">
            <div class="col-12 md:col-8">
              <p-fieldset legend="Ax">
                <div class="flex" *ngFor="let row of this.calc_form.input_array_Ax;let i = index">
                  <div class="flex-initial flex align-items-center justify-content-center m-2 w-full"
                    *ngFor="let col of row.cols;let j = index">
                    <input type="text" pInputText [(ngModel)]="col.value" [placeholder]="'A' + i + j"
                      class="mt-1 mb-1 w-full" name="Acol_input" #Acol_input="ngModel" />
                  </div>
                </div>
              </p-fieldset>
            </div>
            <div class="col-12 md:col-4">
              <p-fieldset legend="B">
                <div class="flex" *ngFor="let row of this.calc_form.input_array_B;let i = index">
                  <div class="flex-initial flex align-items-center justify-content-center m-2 w-full">
                    <input type="text" pInputText [(ngModel)]="row.value" [placeholder]="'B' + i" name="Bcol_input"
                      #Bcol_input="ngModel" class="mt-1 mb-1 w-full" />
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>
        </div>

        <div class="col-12" align="right">
          <button pButton type="button" label="Reset" icon="pi pi-times" (click)="reset()"
            class="p-button-outlined p-button-rounded p-button-sm mr-2"></button>
          <button pButton type="button" label="คำนวณ" icon="pi pi-calculator" (click)="calculate()"
            [disabled]="calc_form.input_length.rows == 0 || calc_form.input_length.cols == 0"
            class="p-button-rounded p-button-sm"></button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-12">
    <p-card header="คำตอบ" styleClass="h-full">
      <div class="grid">
        <div class="col-12" *ngIf="debug_mode">
          <b>Logs:</b>
          <textarea rows="10" pInputTextarea [disabled]="true">{{ result_logs }}</textarea>
          <button pButton type="button" icon="pi pi-trash" label="ล้าง Logs" (click)="clear_logs()"
            class="p-button-sm"></button>
        </div>

        <div class="col-12">
          <b>คำตอบ:</b>
        </div>
        <div class="col-12">
          <!-- table -->
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-toast></p-toast>

<p-dialog header="กำลังประมวลผล..." [(visible)]="isLoad_calc" [modal]="true"
  [style]="{ 'min-width': '360.5px',width: '30%' }" [draggable]="false" [resizable]="false" [closable]="false">
  <div class="grid">
    <div class="col-12 mt-2" align="center">
      <p-progressSpinner [style]="{ 'width': '75px', 'height': '75px' }" strokeWidth="6"
        fill="#EEEEEE"></p-progressSpinner>
    </div>
  </div>
</p-dialog>
